
#navigation,
#navigation ul,
#navigation li #navigation a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}

#navigation {
  width: 70%;
  margin-left:15%;
}
#navigation ul {
 
  background: #a7bc7a url(slike/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#navigation ul:before {
  content: '';
  display: block;
}
#navigation ul:after {
  content: '';
  display: table;
  clear: both;
}
#navigation a,
#navigation a:link,
#navigation a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#navigation a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#navigation li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#navigation li:hover {
  background: #9cb369 url(slike/pattern.png) top left repeat;
}
#navigation li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}




#logo{
width:70%;
margin-left:15%;
height: 12%;
background-color:#339933;
}
#logo img{

}


#mainPart{
width:70%;
background-color:#669933;
margin-left:15%;
min-height:100%;
display:block;
overflow:auto;
height:auto;
margin-top:0;
}

.newsTitle{
text-align:center;
}

.newsLeft{
float:left;
width:30%;
margin-top:10%;
border: 2px solid;
margin-left:5%;
}

.newsRight{
 float:right;
 width:30%;
 margin-top:10%;
 border: 2px solid;
 margin-right:5%;
 
 }

.author{
font-size:10px;
float:left;
margin-left:15px;

}
 .datePosted{
 font-size:10px;
 float:right;
 margin-right:15px;
 }
 
 .contentText{
 float:left;
 margin-top:15px;
 margin-left:35px;
 }
 .moreLink{
 float:right;
 margin-right:5px;
 }  
 
 #footer{
float:left;
width:70%;
margin-left:15%;
background-color:#666633;
text-align:center;
}

#aboutUsText{
width:60%;
margin-left:15%;
margin-top:5%;
text-align:center;
border: 2px solid;
height:50%;
}

#commonSites{

margin-left:15%;

}

#commonSitesList li {

list-style-image: url("http://www.cheapaccounting.co.uk/sqpurple.gif");
}
#commonSitesList li a{
text-decoration:none;
}

.contactText{
margin-left:15%;
}

#productTable{
margin-left:20%;
width:50%;
height:50%;
border: 1px solid;
border-collapse:collapse;
margin-top:15%;
}
#productTable tr th,td{
margin-left:25px;
border: 1px solid;
border-collapse:collapse;
}

 
 

