
#navigation,
#navigation ul,
#navigation li #navigation a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}

#navigation {
  width: 70%;
  margin-left:15%;
}
#navigation ul {
 
  background: #a7bc7a url(slike/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#navigation ul:before {
  content: '';
  display: block;
}
#navigation ul:after {
  content: '';
  display: table;
  clear: both;
}
#navigation a,
#navigation a:link,
#navigation a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#navigation a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#navigation li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#navigation li:hover {
  background: #9cb369 url(slike/pattern.png) top left repeat;
}
#navigation li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}



body{

background: url(slike/blokovi.png);
background-repeat:none;
background-size:cover;
}

#logo{
width:70%;
margin-left:15%;
height: 12%;
background-color:#339933;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#logo img{

}


#mainPart{
width:70%;
background-color:#669933;
margin-left:15%;
min-height:100%;
display:block;
overflow:auto;
height:auto;
margin-top:0;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
 

}

.introduction{
width:70%;
margin-left:15%;
margin-top:1;

background-color:#669933;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  
   text-align:center;
}

.newsTitle{
text-align:center;
}

.newsLeft{
float:left;
width:45%;
height:60%;
margin-top:10%;
border: 2px solid;
margin-left:1%;
margin-bottom:1%;

-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid black;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

}
.newsLeft img{
width:70%;
height:45%;
margin-left:10%;

}

.newsRight{
 float:right;
 width:45%;
 height:60%;
 margin-top:10%;
 border: 2px solid;
 margin-right:1%;
 margin-bottom:1%;
 
 -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid black;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
 
 }
 .newsRight img{
 width:70%;
height:45%;
margin-left:10%;
 
 }

.author{
font-size:10px;
float:left;
margin-left:15px;

}
 .datePosted{
 font-size:10px;
 float:right;
 margin-right:15px;
 }
 
 .contentText{
 float:left;
 margin-top:15px;
 margin-left:35px;
 }
 .moreLink{
 float:right;
 margin-right:5px;
 }  
 
 #footer{
float:left;
width:70%;
height:4.5%;
margin-left:15%;
margin-bottom:0.25%;
background: #a7bc7a url(slike/pattern.png) top left repeat;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
text-align:center;
}

#aboutUsText{
width:60%;
margin-left:15%;
margin-top:5%;
text-align:center;
border: 2px solid;
height:50%;

-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid black;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#commonSites{

margin-left:15%;

}

#commonSitesList li {

list-style-image: url("slike/zvijezda.png");
}
#commonSitesList li a{
text-decoration:none;
}
a:visited{
color:#006600;
}

.contactText{
margin-left:3%;
}

#productTable{
display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  margin-left:25%;
  margin-top:10%;


}
#productTable  th{
background-color: #a7bc7a;
    color: white;
	background-image: url(slike/pattern.png);
    font-weight: normal;
    padding: 20px 60px;
    text-align: center;
}

#productTable td{
background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;

}

#mainPart p{
margin-left:2%;
}

#contactForm{
margin-left:15%;
width:70%;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid black;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color:#669933;
  text-align:center;

}
.contactFormText{
margin-left: 5%;
text-align:left;
float:left;



}

.contactFormInput{


margin-top:3%;
margin-right:50%;

}
.contactFormInput input{
width: 250px;
}
#contactFormButtons{
margin-top:2%;
}
.contactFormInput textArea{

width:250px;
height:150px;
}
 
 

